{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="products-header">
    <h2> Purchases</h2>
    <hr class="mx-auto">
</div>
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="row">
        <div class="col-6">
            <h2 class="product-text">
                {{ product.name}}
            </h2>
        </div>       
        <div class="col-6">
            <h3 class="product-text float-left">
                {{ product.price}}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="img-container-detail">
                <img class="img-fluid " src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-6 product-description">
            <P class="desc-text">{{ product.description }}</P>
        </div>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
            <h2 class="product-text float-left">
                Quantity
            </h2>
        </div>
        <div class="col-3">
            <h3 class="product-text float-left">
                edit field
            </h3>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-2">
            <button class="product-buttons">
                <a href="{% url 'products' %}" class="anchor-links"><P>Continue to shop</P></a>
            </button>
        </div>
        <div class="col-2">
            <button class="product-buttons">
                <a href="{% url 'products' %}" class="anchor-links"><P>Checkout</P></a>
            </button>
        </div>
        <div class="col-2">
            <button class="product-buttons">
                <a href="{% url 'products' %}" class="anchor-links"><P>Add to Bag</P></a>
            </button>
        </div>
    </div>
</section>

{% endblock %}