{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="main-content">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for post in posts_muscle %}
        <div class="col px-1 py-1">
            <div class="card content-containers-community-posts">
                <div class="card-header">
                    <h5 class="card-title">{{ post.title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text max-lines-3">{{ post.excerpt }}</p>
                </div>
                <div class="card-footer">
                    <div class="btn button-links-posts">
                        <a href="{% url 'post_detail' post.id %}" class="anchor-links">Read More!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


{% block page_header %}
<div class="products-header row justify-content-between mb-4">
    <div class="col-4 mt-3">
        <h2>Gain Muscle Posts</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="col-4 mt-3">
        <a href="{% url 'create_post' %}" class="btn button-links-green anchor-links">Create Post</a>
    </div>
    {% else %}
    <div class="col-5">
        <P class="mt-3">You need to register in order to create your own Posts. Sign up here!</P>
        <button class="btn btn-secondary shopping-buttons float-right">
            <a href="{% url 'account_signup' %}" class="text-white">Register</a>
        </button>
    </div>
    {% endif %}
</div>
<hr class="mx-auto">

{% endblock %}