{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<nav aria-label="breadcrumb breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blogs_main' %}">All Blogs</a></li>
    <li class="breadcrumb-item"><a
        href="{% url 'blogs_category' category_title=post.post_category.title %}">{{ post.post_category.title }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'post_detail' post_id=post.id %}">{{ post.title }}</a></li>
  </ol>
</nav>
<div class="products-header pb-3">
  <h2 class="coloured-text">{{ post.title }}</h2>
</div>
{% endblock %}

{% block content %}

<section class="main-content">
  <div class="row content-containers w-75">
    <div class="col-12">
      <div class="row pt-3 pl-2">
        <h2 class="coloured-text">{{ post.title }}</h2>
      </div>
      <hr>
      <div class="row pt-3 pl-2">
        <p>
          {{ post.content }}
        </p>
      </div>
      <div class="row pt-3 pl-2 justify-content-between">
        {% if request.user == post.author %}
        <a class="btn blog-button pt-3 pb-2 mb-3 ml-2" href="{% url 'post_edit' post.id %}">Edit Post</a>
        <a class="btn blog-button pt-3 pb-2 mb-3 mr-3" href="{% url 'post_delete' post.id %}">Delete Post</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% for comment in comments %}
  <div class="row content-containers w-50">
    <div class="col-12">
      <div class="row pt-3 pl-2">
        <p>{{ comment.body }}</p>
      </div>
      <hr>
      <div class="row pl-2">
        <p>{{ comment.name }}</p>
      </div>
      <div class="row pt-3 pl-2 justify-content-between">
        {% if request.user == comment.author %}
        <a class="btn blog-button pt-3 pb-2 mb-3 ml-2" href="{% url 'post_edit' post.id %}">Edit Comment</a>
        <a class="btn blog-button pt-3 pb-2 mb-3 mr-3" href="{% url 'post_delete' post.id %}">Delete Comment</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

  {% if user.is_authenticated %}
  <div class="row content-containers w-75">
    <div class="col-12">
      <div class="row pt-3 pl-2">
        <h3 class="coloured-text">Leave a comment:</h3>
      </div>
      <div class="row pt-3 pl-2">
        <p>Posting as: {{ user.username }}</p>
      </div>
      <div>
        <form method="post">
          {% csrf_token %}
          {{ comment_form | crispy }}
          <button type="submit" class="btn blog-button mb-3 float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row content-containers w-75">
    <div class="col-12">
      <div class="row pt-3 pl-2">
        <P>You need to register in order to create your own Comments. Sign up here!</P>
      </div>
      <div class="row pt-3 pl-2 float-right">
        <button class="btn blog-button mb-3 mr-2">
          <a href="{% url 'account_signup' %}" class="text-white">Register</a>
        </button>
      </div>
    </div>
  </div>
  {% endif %}
  </div>

  </div>
</section>


{% endblock %}