{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

{% if user.is_authenticated %}

<div class="card content-containers-community mt-4 mb-4">
    <div class="card-header">
        <h3>Edit your post!:</h3>
        <p class="mb-0">Posting as: {{ user.username }}</p>
    </div>
    <div class="card-body">
        <form method="post">
            {{ post_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn submit-buttons">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
