{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container">
    <div class="row row-cols-3">
        {% for post in posts_muscle %}
        <div class="col px-1 py-1">
            <div class="card content-containers-community-posts">
                <div class="card-header">
                    <h5 class="card-title">{{ post.title }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text max-lines-3">{{ post.excerpt }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'post_detail' post.id %}" class="btn button-links anchor-links">Read More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


{% block page_header %}
<div class="products-header">
    <div>
        <h2>Gain Muscle Posts</h2>
        <hr class="mx-auto">
    </div>
    <div class="relative-container">
            <a href="{% url 'create_post' %}" class="btn button-links-green anchor-links">Create Post</a>
    </div>
</div>
{% endblock %}