{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-container">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'blogs_main' %}">All Blogs</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'blogs_category' category_title=category.slug %}">{{ category.title }}</a></li>
    </ol>
</nav>
<div class="row products-header">
    <div class="col-11">
        <div class="pb-3 pt-3 pl-5">
            <h2 class="coloured-text text-center pl-5">{{ category.title }}</h2>
        </div>
    </div>
    <div class="col-1">
        <div class="pb-3 pt-3">
            <button class="btn product-buy-button float-right">
                <a href="{% url 'check_post' category_title=category.title %}" class="anchor-links">Create Post</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="row blog-content">
    <div class="blog-holder">
        <div class="row my-auto mx-auto justify-content-around">
            {% if posts|length == 0 %}
            <div class="col-12 pt-2 mb-3">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row pl-1">
                            <h4><strong>Hi, Welcome!</strong></h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col pl-3">
                                <p>Be the first to write a post on this topic!</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 pt-2 pl-2">
                                <a href="#" onclick="location.href='{% url 'check_post' category_title=category.title %}'"
                                    class="submit-buttons float-right px-3">Create Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% for post in posts %}
            <div class="outer-container">               
                <div class="blog-container">
                    <div class="row mx-auto">
                        <div class="col-6">
                            <h4 class="pt-2"><strong>{{ post.title }}</strong></h4>
                        </div>
                        <div class="col-6">
                            <h6 class="pt-2 float-right"><strong>{{ post.author }}</strong></h6>
                        </div>                            
                    </div>
                    <hr>
                    <div class="row mx-auto">
                        <div class="col-12 pl-2 blog-excerpt">
                            {{ post.excerpt|safe }}
                        </div>
                    </div>
                    <hr>
                    <div class="row mx-auto">
                        <div class="col-6 pt-2 pl-2 align-self-end">                           
                            <p class="my-0">{{ post.created_on }}</p>
                            <!-- <p class="card-text pl-3">{{ post.likes_post }} likes</p> -->                           
                        </div>
                        
                        <div class="col-6 pt-2 pl-2 d-flex justify-content-around">
                            {% if request.user.is_superuser %}
                            <button class="btn blog-button mr-3">
                                <a href="{% url 'post_delete' post.id %}" class="anchor-links"><strong>Delete Post</strong></a>
                            </button>                              
                            {% endif %}                         
                            <button class="btn blog-button float-right ml-5">
                                <a href="{% url 'post_detail' post_id=post.id %}"
                                    class="anchor-links"><strong>Details</strong></a>
                            </button>
                        </div>  
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}