{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="row">
        <div class="row-12 content-containers mx-auto">
            <h1 class="text-white">
                The page you are searching for is not a available.
            </h1>
            <button class="my-5 navbar-buttons">
                <h4>
                    <a href="{% url 'home' %}" class="btn btn-lg rounded-0 py-3">
                        Return to the home page
                    </a>
                </h4>
            </button>
        </div>
    </div>
</div>
{% endblock %}