{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container four-oh-four-container four-oh-four-image">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto mx-auto">
                <h1 class="display-4 logo-font text-black">
                    The page you are looking for isn't available
                </h1>
                <div class="col-7 col-md-6 my-auto mx-auto">
                    <h4>
                        <a href="{% url 'home' %}" 
                            class="btn blog-button py-3">
                                Return to home page
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}