{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A community based fitness platform.">
    <meta name="keywords"
        content="fitness, workout-plans, diet-plans, fitness-products, community, blogs, sports, workout">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/4fa053dcb7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fit For All</title>
</head>

<body>
    <section class="page-container">
        <header class="header-container">
            <nav class="navbar navbar-expand-lg mx-auto">
                <div class="favi-container mb-1">
                    <img src="{% static 'favicon/android-chrome-512x512.png' %}" alt="Main Logo" class="favi-icon">
                </div>
                <a class="nav-link main-logo-link" href="{% url 'home' %}">
                    <h2 class="text-black my-0 mr-2 main-logo-text"><strong>Fit For All</strong>
                    </h2>
                </a>
                <div class="collapse navbar-collapse justify-content-between navbar-index" id="navbarNav">                  
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown my-auto">
                            <a href="{% url 'plans_main' %}" class="nav-link mr-4">Plans</a>
                            <div class="dropdown-content">
                                <a class="dropdown-item text-white" href="{% url 'plans_category' category_title='Diet' %}">Diet</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" href="{% url 'plans_category' category_title='Workout' %}">Workout</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown my-auto">
                            <a href="{% url 'products' %}" class="nav-link mr-4">Products</a>
                            <div class="dropdown-content">
                                <a class="dropdown-item text-white" href="{% url 'products' %}?category=gear">Gear</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" href="{% url 'products' %}?category=woman">Woman</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" href="{% url 'products' %}?category=men">Men</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown my-auto">
                            <a href="{% url 'blogs_main' %}" class="nav-link mr-4">Blogs</a>
                            <div class="dropdown-content">
                                <a class="dropdown-item text-white" href="{% url 'blogs_category' category_title='Gain Muscle' %}">Gain Muscle</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-white" href="{% url 'blogs_category' category_title='Lose Weight' %}">Lose Weight</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <form class="form my-auto" method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border" type="text" name="q" placeholder="Search">
                                <div class="input-group-append mr-5">
                                    <button class="btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search text-white"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <li class="dropdown nav-item my-auto">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {% if request.user.is_authenticated %}
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg text-white"></i></div>
                                    <p class="my-0 text-white">Logged-In</p>
                                </div>
                                {% else %}
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg text-white"></i></div>
                                    <p class="my-0 text-white">Logged-Out</p>
                                </div>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu border-0 navbar-buttons" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                        <a href="{% url 'add_challenge' %}" class="dropdown-item">Challenge Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <li>
                            <a class="{% if grand_total %}font-weight-bold{% else %}text-black{% endif %} nav-link"
                                href="{% url 'show_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg text-white"></i></div>
                                    <p class="my-0 text-white">
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block page_header %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-container">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            </ol>
        </nav>
        {% endblock %}

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        <hr class="gray-hr">
        <footer class="footer-container row mb-2">
            <div class="col-4 pt-3">
                <h6>
                    <p>Tim Ras 2023 &#8482;</p>
                </h6>
            </div>
            <div class="col-4 pt-3">
                <h6>
                    <p>All rights reserved</p>
                </h6>
            </div>
            <div class="col-4 pt-3">
                <div class="row d-flex justify-content-center">
                    <h6>
                        <p>Follow us on Facebook!</p>
                    </h6>
                </div>
                <div class="row d-flex justify-content-center"><a href="https://www.facebook.com/TimFitForAll"
                        target="_blank" rel="noopener"><i class="fab fa-facebook-square gray-fb-icon"></i></a>
                </div>
            </div>
        </footer>
    </section>
</body>

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');

    setTimeout(function() {
        $('.toast').toast('hide');
    }, 2000);
</script>
{% endblock %}


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>



</html>