{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<div class="products-header">
    <h2>Diet Plans</h2>
    <hr class="mx-auto">
</div>
{% endblock %}
{% block content %}

<section class="main-content">
    {% for challenge in challenges %}
    <div class="content-containers-category">
        <div class="workout-categories">
            <h2 class="pl-3 pt-3 text-white">{{ challenge.title }}</h2>
            <hr class="mx-auto w-100">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div class="text-container ml-3">
                        <p class="home-intro-text text-white pl-3 pt-3">{{ challenge.content }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 mb-5">
                    {% if challenge.image %}
                    <div class="img-container">
                            <img class="img-fluid rounded" src="{{ challenge.image.url }}"
                                alt="{{ challenge.title }}">
                    </div>
                    {% else %}
                    <div class="img-container">
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ challenge.title }}">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row button-space">
                <div class="col-12">
                    <button class="btn button-links-plans">
                        <a href="{% url 'challenges' challenge.id %}" class="anchor-links"><strong>To challenge details</strong></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}