{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="products-header">
    <h2>{{ challenge.title }}</h2>
    <hr class="mx-auto">
</div>
{% endblock %}

{% block content %}
<section class="main-content mb-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="intro-container">
                <p class="intro-text my-auto">
                    {{ challenge.intro }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="steps-container">
                <p class="steps-text my-auto">
                    {{ challenge.steps|safe }}
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tips-container">
                <p class="tips-text my-auto">
                    {{ challenge.tips|safe }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="outro-container">
                <p class="outro-text my-auto">
                    {{ challenge.outro }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<style>
    /* Extra CSS for responsiveness */
    @media (max-width: 767.98px) {

        .intro-container,
        .steps-container,
        .tips-container,
        .outro-container {
            text-align: center;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {

        .intro-container,
        .outro-container {
            text-align: center;
        }

        .steps-container,
        .tips-container {
            margin-top: 20px;
        }
    }
</style>
{% endblock %}