{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-container">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plans_main' %}">Plans</a></li>
    </ol>
</nav>
<div class="text-header pb-3">
    <h2 class="coloured-text">All Plans</h2>
</div>
{% endblock %}

{% block content %}
<section class="main-content">
    {% for category in all_categories %}
    <div class="row content-containers w-75 mx-auto">
        <div class="content-containers-text col-lg-8 col-md-6 col-sm-12 {% cycle 'order-1' 'order-2' %}">
            <div class="row {% cycle '' 'justify-content-end' %}">
                <h2 class="{% cycle 'pt-4 pl-2' 'pt-4 pr-2' %}">{{ category.title }}</h2>
            </div>
            <div class="row {% cycle '' 'justify-content-end' %} pt-3">
                <p class="intro-text {% cycle 'pl-2 pr-1' 'pl-1 pr-2' %} {% cycle '' 'text-right' %}">
                    {{ category.excerpt }}</p>
            </div>
            <div class="row plans-button-container {% cycle 'pl-2' 'pr-2' %} {% cycle '' 'justify-content-end' %}">
                <button class="btn coloured-button">
                    <a href="{% url 'plans_category' category_title=category.title %}"
                        class="anchor-links"><strong>{{ category.title }} Plans</strong></a>
                </button>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 px-0 py-0 {% cycle 'order-2' 'order-1' %}">
            {% if category.image %}
            <div class="image-container">
                <img class="fit-img" src="{{ category.image.url }}" alt="{{ category.name }}">
            </div>
            {% else %}
            <div class="image-container">
                <img class="fit-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}