{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-container">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plans_main' %}">Plans</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plans_category' category_title=category.title %}">{{ category.title }}</a></li>
    </ol>
</nav>
<div class="products-header pb-3">
    <h2 class="coloured-text">{{ category }} Plans</h2>
</div>
{% endblock %}

{% block content %}
<section class="main-content">
    {% for challenge in challenges %}
    <div class="row content-containers w-75 mx-auto">
        <div class="col-8 {% cycle 'pl-5 pr-3' 'pr-5 pl-3' %} {% cycle 'order-1' 'order-2' %}">
            <div class="row {% cycle '' 'justify-content-end' %}">
                <h2 class="pt-4 pb-3">{{ challenge.title }}</h2>
            </div>
            <div class="row {% cycle '' 'justify-content-end' %} pt-3 pb-5">
                <p class="home-intro-text {% cycle '' 'text-right' %}">{{ challenge.content }}</p>
            </div>
            <div class="row {% cycle '' 'justify-content-end' %} pt-5">
                <button class="btn button-links-index">
                    <a href="{% url 'challenges' challenge_id=challenge.id %}"
                        class="anchor-links"><strong>Details</strong></a>
                </button>
            </div>
        </div>
        <div class="col-4 px-0 py-0  {% cycle 'order-2' 'order-1' %}">
            {% if challenge.image1 %}
            <div class="image-container">
                <img class="card-img-top" src="{{ challenge.image1.url }}" alt="{{ category.name }}">
            </div>
            {% else %}
            <div class="image-container">
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}