{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-container">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plans_main' %}">Plans</a></li>
        <li class="breadcrumb-item"><a
                href="{% url 'plans_category' category_title=challenge.category.title %}">{{ challenge.category.title }}</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'challenges' challenge_id=challenge.id %}">{{ challenge.title }}</a>
        </li>
    </ol>
</nav>
<div class="products-header">
    <h2 class="coloured-text">{{ challenge.category }}</h2>
</div>
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="row content-containers w-75">
        <div class="col-8 mx-auto">
            <div class="row pt-2 pl-2">
                <h2 class="coloured-text">{{ challenge.title }}</h2>
            </div>
            <hr class="my-0">
            <div class="row align-items-center h-75 pl-2">
                <p class="intro-text">
                    {{ challenge.intro }}
                </p>
            </div>
        </div>
        <div class="col-4 px-0 py-0">
            {% if challenge.image %}
            <div class="image-container">
                <img class="card-img-top" src="{{ challenge.image.url }}" alt="{{ category.name }}">
            </div>
            {% else %}
            <div class="image-container">
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="content-containers">
                <h3 class="coloured-text pt-2 pl-2">Steps:</h3>
                <hr class="my-0">
                <ul class="steps-text pt-2 pl-2">
                    {{ challenge.steps|safe }}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="content-containers px-1 py-1">
                        <h3 class="coloured-text pt-2 pl-2">Tips:</h3>
                        <hr class="my-0">
                        <ul class="tips-text pt-2 pl-2">
                            {{ challenge.tips|safe }}
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="content-containers px-1 py-1">
                        <h3 class="coloured-text pt-2 pl-2">Outro:</h3>
                        <hr class="my-0">
                        <p class="outro-text pt-2 pl-2">
                            {{ challenge.outro }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}